# pip install -r requirements.txt

# https://pypi.org/project/opencv-python/
# conda install -c conda-forge opencv
opencv-python>=4.7.0.72
# https://pypi.org/project/numpy/
numpy>=1.24.3
# https://pypi.org/project/Pillow/
#Pillow>=9.5.0
